<header class="container">
    <hgroup class="row mb-4 mt-4 ">
        <div class="col-3"> <img src="logo.jpg" width="100" height="100"></div>
        <div class="col-6"><nav>
            <a href="button" class="btn btn-primary">UploadMedia</a>
            <a href="button" class="btn btn-primary">MyMedia</a>
            <a href="button" class="btn btn-primary">Followers/Following</a>
            
         </nav>
        </div>
        <div class="col-3"> <button type="button" class="btn btn-primary">Account</button></div>
        
    </hgroup>
    <hgroup class="row mb-4 mt-4">
        <div class="col-3"><img src="b.jpg" width="100" height="100"></div> 
        <div class="col-9"><h1>@WELCOME</h1></div>
    </hgroup><hr>
</header>
